body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container, .home-container {
    min-height: 100vh;  /* vh = viewport height units */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    flex-basis: 100%;  /* Will take up 100% of the width */
}

.content-box {
    display: flex;
    flex-direction: column; /* Ensures title-box is on top and login-box below */
    align-items: center; /* Centers child elements horizontally */
}

.title-box {
    background-color: #232323;
    color: #fff;
    font-size: 50px; /* Increase font size */
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Rounded corners all around */
    margin-bottom: 40px; /* Increase space between title and login box */
}

.login-box {
    width: 300px;
    padding: 40px;
    padding-top: 5px;
    font-size: 35px;
    position: relative;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.textbox {
    position: relative;
    margin: 30px 0;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f2f2f2;
    border: 0;
    outline: none;
    color: #333;
    font-size: 18px;
    text-align: center;
}

.login-btn {
    width: calc(100% + 20px); /* Adding 10px left padding + 10px right padding */
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #555;
}

.login-status {
    margin-top: 10px;
    color: red; /* for error messages */
    font-weight: bold;
    text-align: center;
}

.login-status.success {
    color: green;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: #333;
    color: #FFF;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px; /* Give some space between the logo and the navbar */
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end; /* Align items to the bottom */
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-size: large;
}

.navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.navbar-icons {
    display: flex;
    gap: 15px;
    font-size: 25px;
}

.icon-button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.icon-button:hover {
    background-color: #555;
    border-radius: 5px;
}

.notification-bell, .profile-icon {
    font-size: 25px; /* This size can be adjusted as needed */
}

.sidebar h1 {
    margin-top: 0;
}

.search-container {
    margin-top: 20px;
}

.search-input, .search-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-input {
    border: black 1px solid;
}

.search-button {
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.clearfix {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.sidebar {
    flex-basis: 15%;
    padding-right: 20px;
    transition: width 0.5s;
}

.home-container {
    flex-basis: 85%;
    flex: 1;
    display: flex; 
    flex-direction: column;
}

.home-container, #calendar {
    overflow: auto;
}

#calendar {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: 80%;
    display: flex;
    flex-direction: column; 
}

#calendar-header, #days-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    color: #ecf0f1;
    padding: 1em;
}

#days-of-week > div {
    flex: 1;
    padding: 1em 0;
    text-align: center;
}

#dates {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;  
}

#dates > div {
    width: 14.285%;
    height: 120px;
    padding: 2em 0;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden; 
    overflow-y: auto;
    position: relative;
}

#dates > div:hover {
    background-color: #e9e9e9;
}

.added-event {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 87%; /* Width relative to parent date box */
    margin: 5px 0; /* Margins for spacing */
    border: 1px solid #333; /* Adds a rectangular border around the text */
    padding: 5px 10px; /* Padding for the button-like appearance */
    border-radius: 5px; /* Rounded corners for the button-like appearance */
    cursor: pointer; /* Changes the cursor to a hand on hover, like a button */
    background-color: #f9f9f9; /* Lighter background color for contrast */
    transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.added-event:hover {
    background-color: #f0f0f0; /* Light gray background on hover to show interactivity */
}

.result-button {
    display: block; /* Make the button a block element to take up the full width */
    width: 100%; /* Full width */
    padding: 10px; /* Padding for sizing */
    margin-top: 10px; /* Space above the button */
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

.result-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Position the toggle button on the right side of the sidebar */
.toggle-button {
    position: absolute; /* Position absolutely will be relative to the nearest positioned ancestor */
    top: 20px; /* Adjust as necessary for vertical positioning */
    z-index: 1001; /* Ensure the button is above the sidebar */
    /* Additional styling for the button here */
}

/* Sidebar styles */
.sidebar {
    position: relative; /* This makes sure that the absolute positioning of the toggle button is relative to the sidebar */
    transition: width 0.5s;
    /* Other sidebar styles */
}

.event-container {
    margin-top: 20px;
}

.createEvent-button {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #007bff;
    color: #fff;
    border: black 1px solid;
    cursor: pointer;
}

.createEvent-button:hover {
    background-color: #0056b3;
}
.deleteEvent-button {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: red;
    color: #fff;
    border: black 1px solid;
    cursor: pointer;
}

.deleteEvent-button:hover {
    background-color: #d63107;
}

.eventName-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: black 1px solid;
}